:root {
	--font-color: #212529;
	--font-color-highlight: #279FBB;
	--font-a-color: #f90000;
	--font-a-hover-color: #0056b3;
	--body-bg: #fff;
	--header-bg: #222;
	--font-color-header: #fff;
	--header-border-color: #999;
	--footer-bg: #383838;
	--footer-headline-color: #898989;
	--footer-color: #fff;
	--footer-color-hover: #0056b3;
	--breadcrumb-box-shadow-color: #eee;
	--download-bg: #f5f5f5;
	--download-box-shadow: 0;
	--item-default-bg: #1f1f1f;
	--font-page-item-color: #fff;
	--dropdown-item-active: #f90000;
}

[data-theme="dark"] {
	--font-color: #dedad6;
	--font-color-highlight: #ffffff;
	--font-a-color: #ffa94c;
	--font-a-hover-color: #f90000;
	--body-bg: #222;
	--header-bg: #DDD;
	--font-color-header: #000;
	--header-border-color: #666666;
	--footer-bg: #383838;
	--footer-headline-color: #898989;
	--footer-color: #fff;
	--footer-color-hover: #f90000;
	--breadcrumb-box-shadow-color: #555;
	--download-bg: #0a0a0a;
	--download-box-shadow: 255;
	--item-default-bg: #5f5f5f;
	--font-page-item-color: #000;
	--dropdown-item-active: #f90000;
}

body {
	font-family: "Segoe UI Light","Segoe WPC","Segoe UI", "Helvetica", "Arial", "Arial Unicode MS", "Sans-Serif";
	font-weight: lighter;
	color: var(--font-color);
	background: var(--body-bg);
}
.loader-wrapper {
  position: fixed;
  z-index: 999999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #111111;
  display:flex;
  justify-content: center;
  align-items: center;
background-image: url(../images/preload.gif);
background-repeat: no-repeat;
background-position: center;

}
.loader {

}
.loader-inner {
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}
img {
	border: 0 none;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

b, strong {
	font-weight: bold;
}

a {
	color: var(--font-a-color);
}
a:hover {
	color: #c7c7c7;
	text-decoration: none;
}

.text-primary {
	color:#e65240!important;
}

a.text-primary:focus, a.text-primary:hover {
	color: var(--font-a-hover-color)!important;
}

.cursor { cursor: pointer; }

.margin-right-0 { margin-right: 0; }
.margin-right-5 { margin-right: 5px; }
.margin-right-10 { margin-right: 10px; }
.margin-right-15 { margin-right: 15px; }
.margin-right-20 { margin-right: 20px; }
.margin-right-25 { margin-right: 25px; }
.margin-right-30 { margin-right: 30px; }

.margin-left-0 { margin-left: 0; }
.margin-left-5 { margin-left: 5px; }
.margin-left-10 { margin-left: 10px; }
.margin-left-15 { margin-left: 15px; }
.margin-left-20 { margin-left: 20px; }
.margin-left-25 { margin-left: 25px; }
.margin-left-30 { margin-left: 30px; }

.margin-top-0 { margin-top: 0; }
.margin-top-5 { margin-top: 5px; }
.margin-top-10 { margin-top: 10px; }
.margin-top-15 { margin-top: 15px; }
.margin-top-20 { margin-top: 20px; }
.margin-top-25 { margin-top: 25px; }
.margin-top-30 { margin-top: 30px; }

.margin-bottom-0 { margin-bottom: 0; }
.margin-bottom-5 { margin-bottom: 5px; }
.margin-bottom-10 { margin-bottom: 10px; }
.margin-bottom-15 { margin-bottom: 15px; }
.margin-bottom-20 { margin-bottom: 20px; }
.margin-bottom-25 { margin-bottom: 25px; }
.margin-bottom-30 { margin-bottom: 30px; }

.top {
	padding: 4px 0;
	background: var(--header-bg);
	border-bottom: 1px solid var(--header-border-color);
}

.top ul.loginbar {
	margin: 0;
	padding: 0;
	position: relative;
}

.top ul.loginbar li {
	display: inline;
	list-style: none outside none;
	padding-bottom: 15px;
}
.top ul.loginbar li {
	color: var(--font-color-header);
	font-size: 15px;
}
.top ul.loginbar li a {
	color: var(--font-color-header);
	font-size: 15px;
	text-transform: uppercase;
}

.top ul.loginbar li .dropdown-item {
	color: var(--font-color);
}

.top ul.loginbar li a:hover {
	color: var(--font-color-highlight);
}
.top ul.loginbar li .strich {
	margin: 0 5px;
}
.header {
	background-color: var(--body-bg);
	border-bottom: 1px solid var(--breadcrumb-box-shadow-color);
}

.theme-switch {
	cursor: pointer;
}

.table {
	color: var(--font-color);
}
.table-hover tbody tr:hover {
	color: var(--font-color);
}

.page-item.active .page-link, .page-link:hover {
	color: #f90000;
    background-color: #d8d8d8;
    border-color: #bbbbbb;
    cursor: pointer;
    border-radius: 3px;
}
.page-link {
    color: #2d2d2d;
    background-color: #d8d8d8;
    border-color: #bbbbbb;
    cursor: pointer;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
}
.page-item.disabled .page-link {
    color: #2d2d2d;
    background-color: #181818;
    border-color: #161616;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
}
nav .navbar-nav a {
    font-size: 17px;
}

.navbar-light .navbar-nav .nav-link {
	color: var(--font-color);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: rgba(var(--download-box-shadow), var(--download-box-shadow), var(--download-box-shadow), 0.9)
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-item.active .nav-link,
.navbar-light .navbar-nav .nav-link.active {
	color: var(--font-a-color);
}

ul.navbar-nav li.dropdown:hover > a {
	color: var(--font-color-highlight);
}

.navbar-default .navbar-nav .active a{
    box-shadow: none;
    background-image: none;
}
.navbar-default .navbar-nav .active a:hover{
    background:none;
	color:#f90000;

}

.dropdown-menu {
	z-index: 1337;
	background-color: var(--body-bg);
	color: var(--font-color);
	border: 1px solid rgba(var(--download-box-shadow),var(--download-box-shadow),var(--download-box-shadow),.15)
}

.dropdown-item {
	color: var(--font-color);
}

.dropdown-item.active, .dropdown-item:active {
	background-color: var(--dropdown-item-active);
}

.nav-pills i {
	width: 32px;
	text-align: center;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	background-color: var(--dropdown-item-active);
}

.navbar-brand {
	width: 164px;
	height: 53px;
	background: url('../images/logo-default.png') 0 3px no-repeat;
}

.carousel {
	margin-bottom: 10px;
}

.footer {
	bottom: 0;
	width: 100%;
	height: auto;
	background-color: var(--footer-bg);
	padding: 10px 0;
}

.footertext a {
	color: var(--footer-color);
	margin-left: 15px;
}

.footerheadlines {
	color: var(--footer-headline-color);
}

.footertext a:hover {
	color: var(--footer-color-hover);
}

/*Breadcrumbs*/
.breadcrumbs {
     padding: 200px 0 6px;
    background-image: url(../images/breadcrumbs.png);}

.breadcrumbs h1 {
	color: var(--font-color);
	font-size: 26px;
	margin-top: 60px;
}

.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
	font-weight: bold;
}

.sceditor-group *,.sceditor-group *:before,.sceditor-group *:after {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
.sceditor-container textarea {
	height: 150px;
}
/*
.sro-item-detail {
	background: #808080;
	width: 38px;
	margin: 0 auto;
}

.sro-item-detail.sro-item-special {
	background: #FF8C00;
}

.sro-item-detail.sro-item-special .sro-item-special-seal {
	z-index: 4;
}

.sro-item-detail .item {
	width: 32px;
	height: 32px;
	float: left;
	margin: 3px;
	padding: 0 !important;
	color: #fff;
	background: var(--item-default-bg);
	position: relative;
}
.sro-item-detail .item img {
	position: absolute;
}

.sro-item-detail .item .amount {
	background: rgba(50, 50, 50, 0.5);
	padding: 1px 2px;
	float: left;
	font-size: 11px;
}

.sro-item-detail .info {
	color: #fff;
	z-index: 80;
	position: absolute;
	left: 34px;
	top: 3px;
	width: 180px;
	background: rgba(88, 98, 170, 0.85);
	border: 2px solid #303d4d;
	padding: 5px;
	display: none;
	line-height: 18px;
	font-size: 10px;
}

.ui-tooltip {
	background: black !important;
}

.ui-tooltip-content {
	font-size: 10px;
	line-height: 15px;
	background: #000;
	color: #fff;
}
*/
.captcha-reload {
	cursor: pointer;
	margin-left: 15px;
}

.coins-widget-reload {
	cursor: pointer;
}

/* make sidebar nav vertical */
.sidebar-nav .navbar .navbar-collapse {
	padding: 0;
	max-height: none;
	display: block !important;
}
.sidebar-nav .navbar ul {
	float: none;
	display: block;
}
.sidebar-nav .navbar li {
	float: none;
	display: block;
}
.sidebar-nav .navbar li a {
	padding-top: 12px;
	padding-bottom: 12px;
}

.alert ul {
	margin-bottom: 0;
}

.ui-widget-shadow {
	-webkit-box-shadow: 0 0 8px #333 !important;
	box-shadow: 0 0 8px #333 !important;
}

.table.table-inventory td, .table.table-inventory th {
	padding: 4px;
}

.download-box {
	cursor: pointer;
	text-align: center;
	padding: 10px;
	margin: 0 0 40px;
	background-color: var(--download-bg);
	-webkit-box-shadow: 0 2px 3px rgba(var(--download-box-shadow), var(--download-box-shadow), var(--download-box-shadow), 0.13) !important;
	box-shadow: 0 2px 3px rgba(var(--download-box-shadow), var(--download-box-shadow), var(--download-box-shadow), 0.13) !important;
}

.download-box .download-icon {
	font-size: 55px;
}

/*
 * Extra stuffs
 */

#map {
	display: block;
	position:absolute;
	height:auto;
	bottom:0;
	top:0;
	left:0;
	right:0;
}

/*
 * Sidebar Wrapper (Component)
 */

@keyframes swing {
	0% { transform: rotate(0deg); }
	10% { transform: rotate(10deg); }
	30% { transform: rotate(0deg); }
	40% { transform: rotate(-10deg); }
	50% { transform: rotate(0deg); }
	60% { transform: rotate(5deg); }
	70% { transform: rotate(0deg); }
	80% { transform: rotate(-5deg); }
	100% { transform: rotate(0deg); }
}
@keyframes sonar {
	0% { transform: scale(0.9); opacity: 1; }
	100% { transform: scale(2); opacity: 0; }
}

.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand > a,
.sidebar-wrapper .sidebar-dropdown > a:after,
.sidebar-wrapper .sidebar-submenu-dropdown > a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper .sidebar-menu .sidebar-submenu-dropdown .sidebar-submenu-submenu li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text,
.sidebar-wrapper .sidebar-menu ul li a,
.sidebar-wrapper .sidebar-submenu-menu ul li a,
#show-sidebar,
#close-sidebar {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* page-wrapper */

.page-wrapper {
	height: 100vh;
}
.page-wrapper .theme {
	width: 40px;
	height: 40px;
	display: inline-block;
	border-radius: 4px;
	margin: 2px;
}

/* toggeled sidebar */

.page-wrapper.toggled .sidebar-wrapper {
	left: 0;
}
@media screen and (min-width: 768px) {
	.page-wrapper.toggled .page-content {
		padding-left: 300px;
	}
}

/* show sidebar button */

#show-sidebar {
	position: fixed;
	left: 0;
	bottom: 10px;
	color: #222;
	background-color: #fff;
	box-shadow: 0 0 5px 1px #222;
	border-radius: 0 4px 4px 0;
	width: 36px;
	transition-delay: 0.3s;
	z-index: 998;
}
.page-wrapper.toggled #show-sidebar {
	left: -40px;
}

/* sidebar-wrapper */

.sidebar-wrapper {
	height: 100%;
	max-height: 100%;
	z-index: 1001;
}
.sidebar-wrapper ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.sidebar-wrapper a {
	text-decoration: none;
}

/* sidebar-content */

.sidebar-content {
	max-height: calc(100% - 30px);
	height: calc(100% - 30px);
	overflow-y: auto;
	position: relative;
}

.sidebar-content.desktop {
	overflow-y: hidden;
}

/* sidebar-brand */

.sidebar-wrapper .sidebar-brand {
	padding: 10px 20px;
	display: flex;
	align-items: center;
}

.sidebar-wrapper .sidebar-brand > a {
	color: #f1f1f1;
	font-weight: bold;
	flex-grow: 1;
}

.sidebar-wrapper .sidebar-brand .version{
	color: #f1f1f1;
	font-size: 13px;
}

.sidebar-wrapper .sidebar-brand #close-sidebar {
	cursor: pointer;
	font-size: 20px;
}
/* sidebar-header */

.sidebar-wrapper .sidebar-header {
	padding: 5px 20px;
	overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic {
	float: left;
	width: 64px;
	padding: 2px;
	border-radius: 12px;
	margin-right: 15px;
	overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.sidebar-wrapper .sidebar-header .user-info {
	float: left;
}

.sidebar-wrapper .sidebar-header .user-info > span {
	display: block;
}

.sidebar-wrapper .sidebar-header .user-info .user-role {
	font-size: 13px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status {
	font-size: 12px;
	margin-top: 4px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status i {
	font-size: 14px;
	margin-right: 4px;
	color: #728ad5;
}

/* sidebar-search */

.sidebar-wrapper .sidebar-search > div {
	padding: 10px 20px;
}
#search .input-group-append{
	cursor: pointer;
}

/* sidebar-menu */

.sidebar-wrapper .sidebar-menu {
	padding-bottom: 10px;
	background: #383838;
}
.sidebar-wrapper .sidebar-menu .header-menu span {
	font-weight: bold;
	font-size: 14px;
	padding: 10px 20px 5px 10px;
	display: inline-block;
}
.sidebar-wrapper .sidebar-menu ul li a {
	display: inline-block;
	width: 100%;
	text-decoration: none;
	position: relative;
	padding: 8px 30px 8px 10px;
	color: #fff;
}
.sidebar-wrapper .sidebar-menu ul li a i {
	margin-right: 8px;
	font-size: 14px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 4px;
}
.sidebar-wrapper .sidebar-menu ul li a:hover > i::before{
	display: inline-block;
	animation: swing ease-in-out 0.5s 1 alternate;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after,
.sidebar-wrapper .sidebar-menu .sidebar-submenu-dropdown > a:after {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f105";
	font-style: normal;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	background: 0 0;
	position: absolute;
	right: 15px;
	top: 14px;
}
.sidebar-wrapper .sidebar-menu .sidebar-submenu-dropdown > a:after{
	top: 12px;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
	padding: 5px 0;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
	padding-left: 25px;
	font-size: 14px;
}
.sidebar-wrapper .sidebar-menu .sidebar-submenu-dropdown .sidebar-submenu-submenu li {
	padding-left: 15px;
	font-size: 13px;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before{
	content: "\f064";
	font-family: "Font Awesome 5 Free";
	font-weight: bold;
	font-style: normal;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 10px;
	font-size: 8px;
}
.sidebar-wrapper .sidebar-menu .sidebar-submenu-dropdown .sidebar-submenu-submenu li a:before {
	content: "\f192";
	font-weight: normal;
}
.sidebar-wrapper .sidebar-menu ul li a span.label,
.sidebar-wrapper .sidebar-menu ul li a span.badge {
	float: right;
	margin-top: 8px;
	margin-left: 5px;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
	float: right;
	margin-top: 0;
}
.sidebar-wrapper .sidebar-menu .sidebar-submenu,
.sidebar-wrapper .sidebar-menu .sidebar-submenu-submenu {
	display: none;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after,
.sidebar-wrapper .sidebar-menu .sidebar-submenu-dropdown.active > a:after {
	transform: rotate(90deg);
	right: 17px;
}
.sidebar-wrapper .sidebar-menu ul li a i, .sidebar-wrapper .sidebar-menu .sidebar-dropdown div, .sidebar-wrapper .sidebar-search input.search-menu {
	background: var(--footer-bg);
	color: var(--footer-color);
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    background-color: #191919;
    background-clip: padding-box;
    border: 0px solid #ffffff;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control:focus {
    color: #ffffff;
    background-color: #191919;
    border-color: #f90000;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(211 64 48 / 1);
}
.ticketsys{
    padding: 5px;
    border-radius: 5px;
}

.ticketsys1 {
    background-color: #333333;
    padding-top: 5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #d80707;
    padding-left: 13px;

}
.ticketsys2 {
    background-color: #484848;
    padding: 13px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #d3d3d3;
}
.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #000;
    background-clip: padding-box;
    border: 1px solid rgb(240 0 0);
    border-radius: .3rem;
    outline: 0;
}
.page-item1.active .page-link1, .page-link1 :hover {
    color: #e80707;
    background-color: #d8d8d8;
    border-color: #d5d5d5;
    border-radius: 2px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.page-link1 {
        color: #000000;
    background-color: #d8d8d8;
    border-color: #bfbfbf;
    cursor: pointer;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.page-item1.disabled .page-link1 {
    color: #2d2d2d;
    background-color: #181818;
    border-color: #161616;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
}
li.page-item1.disabled {
    padding-right: 10px;
}

li.page-item1.active {
    padding-right: 10px;
}
li.page-item1 {
    padding-right: 10px;
}
a.page-item1:hover {
    color: #252525;
    background: #f4e9e9;
    text-decoration: none;
}
